New Credentials

<%= form_for [@trainer, @credential] do |form| %>
  <div>
    <%= @credential.errors.full_messages %>
  </div>
  <div>
    <%= form.label :institution %>
    <%= form.text_field :institution %>
  </div>

  <div>
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <%#= form.hidden_field :trainer_id %>

  <div>
    <%= form.submit %>
  </div>

<% end %>